CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

*.sln
*.vcxproj
*.filters

build/
build*/
vsbuild/

bin/*
Win32/*
*.dir/
*.opensdf
*.sdf

*.o
*.a

include/*
lib/*

.idea/
