CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

*.sln
*.vcxproj
*.filters

build/
vsbuild/

bin/*
Win32/*
*.dir/
*.opensdf
*.sdf

*.o
*.a

# force libs to not be ignored
!lib/**

.idea/
